<p id="notice"><%= notice %></p>

<h1>Super Powers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Super hero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @super_powers.each do |super_power| %>
      <tr>
        <td><%= super_power.name %></td>
        <td><%= super_power.description %></td>
        <td><%= super_power.super_hero.hero_name %></td>
        <td><%= link_to 'Show', super_power %></td>
        <td><%= link_to 'Edit', edit_super_power_path(super_power) %></td>
        <td><%= link_to 'Destroy', super_power, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Super Power', new_super_power_path %>
