<p id="notice"><%= notice %></p>

<p>
  <strong>Real name:</strong>
  <%= @super_hero.real_name %>
</p>

<p>
  <strong>Hero name:</strong>
  <%= @super_hero.hero_name %>
</p>

<p>
  <strong>His Super Powers:</strong>
  <% @super_hero.super_powers.each do |sp| %>
  <p>Name:<%= sp.name %><br>
  Desc:<%= sp.description %>,</p>
  <% end %>
</p>

<%= link_to 'Edit', edit_super_hero_path(@super_hero) %> |
<%= link_to 'Back', super_heros_path %>
